* {
  display: flex;
  flex-direction: column;
  background-color: #f8fff4;
  justify-content: center;
}
.post {
  flex-direction: column;
}

#profilePosts {
  flex-direction: column;
  margin-top: 10px;
  border: solid black 2px;
  border-radius: 10px;
  border: solid #2d3047 2px;
  padding: 30px;
}

#app {
  flex-direction: column;
}

#postMain {
  flex-direction: column;
  margin-top: 10px;
  border: solid black 2px;
  border-radius: 10px;
}
.nav-bar {
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  border: solid blue 2px;
  border-radius: 10px;
  padding: 10px;
}
#app-control {
  flex-direction: row;
  margin-top: 10px;
  border: solid #2d3047 2px;
  border-radius: 10px;
}

.post {
  border: solid #2d3047 2px;
  padding: 30px;
}
.description {
  font-style: italic;
}

button {
  transition: all 0.5s ease-in-out;
  color: #5c80bc;
  border: 3px solid #878472;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  font-size: 17px;
  background-color: transparent;
  padding: 10px;
  outline: none;
  border-radius: 4px;
}
button:hover {
  color: #f8fff4;
  background-color: #2d3047;
}
